<section class="our-webcoderskull padding-lg">
    <div class="container">
      <div class="row heading heading-icon">

        <h6 style="color: darkkhaki;">
            <!-- We are the Leading Software in conducting the Hassel Free Exams,Both User and Admin friendly .So lets make the task of conducting Exam Tension free. -->
           <br><br><br> 
        </h6>
        
        <br> <br>
          <h2>Our Team</h2>
      </div>
      <ul class="row">
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
              <h3>Abu</h3>
              
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="/assets/images/a.jpg" class="img-responsive" alt=""></figure>
              <h3><a href="#">Geethika </a></h3>
             
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="http://www.webcoderskull.com/img/team3.png" class="img-responsive" alt=""></figure>
              <h3><a href="http://www.webcoderskull.com/"> Venkat  </a></h3>
            
              
            </div>
         </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="/assets/images/a.jpg" class="img-responsive" alt=""></figure>
              <h3><a href="http://www.webcoderskull.com/">Madhurima  </a></h3>
          
            </div>
        </li>
      </ul>
    </div>
  </section>